.header{
    margin: 5px;
}
.header-button{
    font: bold 20px Arial;
    text-decoration: none;
    color: #333333;
    padding: 4px 12px 4px 12px;
    border-bottom: 1px solid #333333;
    margin: 20px;
}